<a href="https://colab.research.google.com/github/anjali0503/Anjali-Pandey/blob/master/ASSIGNMENT_01_DAY_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Print the first ARMSTRONG NUMBER in range of 1042000 to 702648265 and exit the loop as soon you encounter the first armstrong number

lower=1042000
upper=702648265
for n in range(lower,upper+1):
        order=len(str(n))
        sum=0
        temp=n
        while temp>0:
            digit=temp%10
            sum+=digit**order
            temp//=10
            break
        if n==sum:
            print(n)

4782969